body {
    background-color: #333;
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: inline;
}

#navbar {
    position: sticky;
    top: 12px;
    background-color: white;
    border: 1px solid white;
    border-radius: 14px;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: left;
}

#navbar img {
    height: 40px;
    margin: 12px;
}

#navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: 0.2s;
}

#navbar a:hover {
    background-color: #ddd;
}

#jumbotron {
    font-size: 20px;
    padding: 60px;
    text-align: center;
    color: #f2f2f2;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
    font-weight: bold;
}